<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1"
	name="com.ericsson.oss.mediation.camel.ra.api">
	<resources>
		<resource-root path="camel-resource-adapter-api-0.0.1-SNAPSHOT.jar" />
	</resources>

	<dependencies>
		<module name="org.slf4j"/>
		<module name="javax.api"/>
		<module name="javax.resource.api"/>
	</dependencies>
</module>
